# Built binaries
*.o
ds-anpr-app

# vscode
.vscode

# TensorRT Engines
*/*/*/*.engine
*.engine

# Input sources
inputsources.txt

# Extra files
.Makefile.swp
.cproject
.metadata/
.project
RemoteSystemTempFiles/